flows (1).json
[
    {
        "id": "33c2487104eb35db",
        "type": "tab",
        "label": "Fluxo 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "file_out",
        "type": "file",
        "z": "33c2487104eb35db",
        "name": "Gravar Arquivo",
        "filename": "dados_sensores.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "x": 1200,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "f82a9ba339364fcb",
        "type": "mqtt in",
        "z": "33c2487104eb35db",
        "name": "MQTT Temp",
        "topic": "ads/iniot/temperatura",
        "qos": "2",
        "broker": "broker_local",
        "inputs": 0,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "fn_parse",
                "7b135f3bcc645b4a",
                "chart_temp"
            ]
        ]
    },
    {
        "id": "e336774756ef7027",
        "type": "mqtt in",
        "z": "33c2487104eb35db",
        "name": "MQTT Umid",
        "topic": "ads/iniot/umidade",
        "qos": "2",
        "broker": "broker_local",
        "inputs": 0,
        "x": 370,
        "y": 380,
        "wires": [
            [
                "fn_parse",
                "afdab0219538da80",
                "chart_umid"
            ]
        ]
    },
    {
        "id": "fn_parse",
        "type": "function",
        "z": "33c2487104eb35db",
        "name": "Parse & Join",
        "func": "var val = parseFloat(msg.payload);\nif (isNaN(val)) return null;\nmsg.payload = val;\nreturn msg;",
        "outputs": 1,
        "x": 690,
        "y": 260,
        "wires": [
            [
                "join_csv"
            ]
        ]
    },
    {
        "id": "join_csv",
        "type": "join",
        "z": "33c2487104eb35db",
        "name": "Unir Dados",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 850,
        "y": 260,
        "wires": [
            [
                "fn_csv_line"
            ]
        ]
    },
    {
        "id": "fn_csv_line",
        "type": "function",
        "z": "33c2487104eb35db",
        "name": "Formatar CSV",
        "func": "var t = msg.payload[\"ads/iniot/temperatura\"];\nvar u = msg.payload[\"ads/iniot/umidade\"];\nvar agora = new Date();\nvar d = agora.toLocaleDateString('pt-BR');\nvar h = agora.toLocaleTimeString('pt-BR');\n\nmsg.payload = t + \",\" + u + \",\" + d + \",\" + h + \"\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 260,
        "wires": [
            [
                "file_out"
            ]
        ]
    },
    {
        "id": "7b135f3bcc645b4a",
        "type": "ui_gauge",
        "z": "33c2487104eb35db",
        "group": "group_monitor",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temp",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "afdab0219538da80",
        "type": "ui_gauge",
        "z": "33c2487104eb35db",
        "group": "group_monitor",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Umid",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#0099ff",
            "#0066ff",
            "#0033cc"
        ],
        "x": 650,
        "y": 460,
        "wires": []
    },
    {
        "id": "chart_temp",
        "type": "ui_chart",
        "z": "33c2487104eb35db",
        "name": "",
        "group": "group_monitor",
        "order": 3,
        "width": 6,
        "height": "6",
        "label": "Histórico Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#e53434",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "chart_umid",
        "type": "ui_chart",
        "z": "33c2487104eb35db",
        "name": "",
        "group": "group_monitor",
        "order": 4,
        "width": 6,
        "height": "6",
        "label": "Histórico Umidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "btn_download",
        "type": "ui_button",
        "z": "33c2487104eb35db",
        "group": "group_monitor",
        "order": 5,
        "width": 6,
        "height": 1,
        "label": "BAIXAR RELATÓRIO CSV",
        "color": "",
        "bgcolor": "#008080",
        "icon": "fa-download",
        "x": 440,
        "y": 580,
        "wires": [
            [
                "read_csv_file"
            ]
        ]
    },
    {
        "id": "read_csv_file",
        "type": "file in",
        "z": "33c2487104eb35db",
        "name": "Ler CSV",
        "filename": "dados_sensores.csv",
        "format": "utf8",
        "chunk": false,
        "x": 700,
        "y": 600,
        "wires": [
            [
                "dl_trigger_fix",
                "clear_msg"
            ]
        ]
    },
    {
        "id": "dl_trigger_fix",
        "type": "ui_template",
        "z": "33c2487104eb35db",
        "group": "group_monitor",
        "name": "JS Download Fixo",
        "order": 6,
        "width": "",
        "height": "",
        "format": "<script>\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if (msg && msg.payload && msg.payload.length > 0) {\n            var head = \"Temperatura,Umidade,Data,Hora\\n\";\n            var blob = new Blob([head + msg.payload], {type: 'text/csv'});\n            var a = document.createElement('a');\n            a.href = window.URL.createObjectURL(blob);\n            a.download = 'sensores_historico.csv';\n            a.click();\n            scope.send({payload: \"\"});\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 910,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "clear_msg",
        "type": "change",
        "z": "33c2487104eb35db",
        "name": "Limpar Fluxo",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "1f572541c641325f",
        "type": "inject",
        "z": "33c2487104eb35db",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 100,
        "wires": [
            [
                "chart_temp"
            ]
        ]
    },
    {
        "id": "broker_local",
        "type": "mqtt-broker",
        "name": "Broker Local",
        "broker": "10.110.18.11",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 15,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "group_monitor",
        "type": "ui_group",
        "name": "Monitoramento DHT11",
        "tab": "tab1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "tab1",
        "type": "ui_tab",
        "name": "Dashboard IoT"
    },
    {
        "id": "1fefbc3ef39621f9",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]