flows (2).json
[
    {
        "id": "6078a909eddd1d81",
        "type": "tab",
        "label": "Fluxo 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e4a705c21dfc0218",
        "type": "mqtt in",
        "z": "6078a909eddd1d81",
        "name": "MQTT Temp",
        "topic": "iiot/desafio2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bbfa2ef183882565",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 350,
        "y": 260,
        "wires": [
            [
                "5febc4d0a338cb21"
            ]
        ]
    },
    {
        "id": "5febc4d0a338cb21",
        "type": "function",
        "z": "6078a909eddd1d81",
        "name": "Parse & Join",
        "func": "var t = msg.payload.temperatura;\nvar u = msg.payload.umidade;\n\nif (t === undefined || u === undefined) {\n    node.warn(\"Payload inválido: \" + JSON.stringify(msg.payload));\n    return null;\n}\n\nreturn [\n    [{ payload: t, topic: \"temperatura\" }],\n    [{ payload: u, topic: \"umidade\" }],\n    [{ payload: { temperatura: t, umidade: u } }]\n];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 260,
        "wires": [
            [
                "1bb0555827401c2d",
                "49d684c20b09b9f1"
            ],
            [
                "8fb5463edc3a2152",
                "34179b7b2234972b"
            ],
            [
                "3c34b23b2d43e093"
            ]
        ]
    },
    {
        "id": "3c34b23b2d43e093",
        "type": "function",
        "z": "6078a909eddd1d81",
        "name": "Formatar CSV",
        "func": "var t = msg.payload.temperatura;\nvar u = msg.payload.umidade;\n\nvar zulu = new Date().toISOString().replace(/\\.\\d{3}/, '');\n\nmsg.payload = t + \",\" + u + \",\" + zulu + \"\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 260,
        "wires": [
            [
                "a890190312744792"
            ]
        ]
    },
    {
        "id": "a890190312744792",
        "type": "file",
        "z": "6078a909eddd1d81",
        "name": "Gravar Arquivo",
        "filename": "dados.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "x": 1160,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "1bb0555827401c2d",
        "type": "ui_gauge",
        "z": "6078a909eddd1d81",
        "name": "",
        "group": "group_monitor",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "Temp",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 180,
        "wires": []
    },
    {
        "id": "8fb5463edc3a2152",
        "type": "ui_gauge",
        "z": "6078a909eddd1d81",
        "name": "",
        "group": "group_monitor",
        "order": 2,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "Umid",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#0099ff",
            "#0066ff",
            "#0033cc"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 890,
        "y": 340,
        "wires": []
    },
    {
        "id": "49d684c20b09b9f1",
        "type": "ui_chart",
        "z": "6078a909eddd1d81",
        "name": "",
        "group": "group_monitor",
        "order": 3,
        "width": 6,
        "height": "6",
        "label": "Histórico Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#e53434",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 900,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "34179b7b2234972b",
        "type": "ui_chart",
        "z": "6078a909eddd1d81",
        "name": "",
        "group": "group_monitor",
        "order": 4,
        "width": 6,
        "height": "6",
        "label": "Histórico Umidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "22a428f21b604b99",
        "type": "ui_button",
        "z": "6078a909eddd1d81",
        "group": "group_monitor",
        "order": 5,
        "width": 6,
        "height": 1,
        "label": "BAIXAR RELATÓRIO CSV",
        "color": "",
        "bgcolor": "#008080",
        "icon": "fa-download",
        "x": 440,
        "y": 600,
        "wires": [
            [
                "b35e55fe0bd19e95"
            ]
        ]
    },
    {
        "id": "b35e55fe0bd19e95",
        "type": "file in",
        "z": "6078a909eddd1d81",
        "name": "Ler CSV",
        "filename": "dados.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "allProps": false,
        "x": 680,
        "y": 600,
        "wires": [
            [
                "1431165c9c78d4d8",
                "9b7c6bd12b0c2e11"
            ]
        ]
    },
    {
        "id": "1431165c9c78d4d8",
        "type": "ui_template",
        "z": "6078a909eddd1d81",
        "group": "group_monitor",
        "name": "JS Download Fixo",
        "order": 6,
        "width": "",
        "height": "",
        "format": "<script>\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if (msg && msg.payload && msg.payload.length > 0) {\n            var head = \"Temperatura,Umidade,Timestamp\\n\";\n            var blob = new Blob([head + msg.payload], {type: 'text/csv'});\n            var a = document.createElement('a');\n            a.href = window.URL.createObjectURL(blob);\n            a.download = 'dados.csv';\n            a.click();\n            scope.send({payload: \"\"});\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 900,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "9b7c6bd12b0c2e11",
        "type": "change",
        "z": "6078a909eddd1d81",
        "name": "Limpar Fluxo",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "bbfa2ef183882565",
        "type": "mqtt-broker",
        "name": "Desafio 2",
        "broker": "10.110.12.65",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "group_monitor",
        "type": "ui_group",
        "name": "Monitoramento DHT11",
        "tab": "tab1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "tab1",
        "type": "ui_tab",
        "name": "Dashboard IoT"
    },
    {
        "id": "eb9ba8d09d55508c",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]